RewriteEngine on
 
#topページ転送
RewriteCond %{REQUEST_URI} !/sp/
RewriteCond %{HTTP_USER_AGENT} (iPod touch|iPhone|iPad|Android\ Phone)
RewriteRule ^$ /sp/ [R]
RewriteBase /
 
RewriteCond %{REQUEST_URI} /sp/
RewriteCond %{HTTP_USER_AGENT} !(iPod|iPhone|iPad|Android|Windows\ Phone)
RewriteRule ^sp/$ / [R]
RewriteBase /
