<!DOCTYPE html>
<html>
  <head>
    <title><%= 'むだな技術' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/slick.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/slick-theme.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/sample01.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/magnific-popup.css'/>

    

  </head>
  <body class="scroll">
    <h1><%= 'むだな技術' %></h1>
    <p>ようこそ <%= '「むだな技術」へ' %></p>
    <p>こんにちは。ぼくはだいすけです。にっこり。<br>これはぼくの技術見本です。<br>そのほとんどは「むだ」です。<br>ふたたびにっこり(´･ω･`)
    </p>
    <h2> 顔のおもいで (DCGAN（深層生成判断ネットワーク))</h2>
    <p>人工知能がひとりの女性の写真をなんまいもみて（河村友歌さんの写真をつかわせてもらいました）、彼女の顔をおもいだしました。記憶はしばしばあいまいです。
       <br>だから、思いえがいた顔は、この世界で人工知能の記憶のなかにしか存在しません。彼女はきれいです。
    </p>
<p class="relation">
<span class"static">
<div id="slide" class="float">
<ul>
<li><a class="Single-popup" href="/images/dataset1.png"><img src="/images/yuka_intro.png" width="356" height="434"/></a></li>
<li><a class="Single-popup" href="/images/dataset2.png"><img src="/images/yuka1.png" width="356" height="434"/></a></li>
<li><a class="Single-popup" href="/images/dataset1.png"><img src="/images/yuka2.png" width="356" height="434"/></a></li>
<li><a class="Single-popup" href="/images/dataset2.png"><img src="/images/yuka3.png" width="356" height="434"/></a></li>
</ul>
</div>
</span>

<span class="relative1">
<div class="float">
<i></i>
</div>
</span>

<span class="relative2">
<div class="float">
<B><a class="Single-popup" href="/images/manyYuka.gif">人工知能</a></B>
</div>
</span>

<span class="relative2">
<div class="float">
<u></u>
</div>
</span>

<span class="relative3">
<div id="slide2">
<ul>
<li><a class="popup-iframe" href="https://www.youtube.com/watch?v=0SJHPnRY8YA"><img src="/images/white.png" width="356" height="434"/></a></li>
<li><a class="popup-iframe" href="https://www.youtube.com/watch?v=0SJHPnRY8YA"><img src="/images/white.png" width="356" height="434"/></a></li>
<li><a class="popup-iframe" href="https://www.youtube.com/watch?v=0SJHPnRY8YA"><img src="/images/white.png" width="356" height="434"/></a></li>
<li><a class="popup-iframe" href="https://www.youtube.com/watch?v=0SJHPnRY8YA"><img src="/images/white.png" width="356" height="434"/></a></li>
<li><a class="popup-iframe" href="https://www.youtube.com/watch?v=0SJHPnRY8YA"><img src="/images/yuka_intro2.png" width="356" height="434"/></a></li>
<li><a class="popup-iframe" href="https://www.youtube.com/watch?v=0SJHPnRY8YA"><img src="/images/yuka_memory1.png" width="356" height="434"/></a></li>
<li><a class="popup-iframe" href="https://www.youtube.com/watch?v=0SJHPnRY8YA"><img src="/images/yuka_memory2.png" width="356" height="434"/></a></li>
<li><a class="popup-iframe" href="https://www.youtube.com/watch?v=0SJHPnRY8YA"><img src="/images/yuka_memory3.png" width="356" height="434"/></a></li>
</ul>
</div>
</span>

</p>

<p>
<div class="clear_float"><small>
<span class="relative6">もとの写真<br>(画像クリックでもとの素材一覧がみれます)</span>
<span class="relative5">学習過程<br>(画像クリックで学習過程のパラパラ動画がみれます)</span>
<span class="relative4">人工知能がえがいた記憶<br>(画像クリックで生成過程動画がユーチューブでみれます)</span>
</small></div>
</p>

<p>
<br>
<br>
<br>
<br>
だけどしばしば, 人工知能はこわい顔の彼女を思いだします。暗黒面をご覧になりたければ,ここをクリックしてください。

   <a class="Single-popup" href="/images/darkside.gif"/>∑((((((ﾟдﾟ;ﾉ)ﾉ</a>

   <div class="clear_float">－－<a href="https://www.pakutaso.com/">フリー素材「ぱくたそ」</a>の河村友歌さんの画像をつかわせていただきました。ありがとうございます。
   </div>
    </p>

    <h2>ねこの顔(DCGAN(深層生成判断ネットワーク))</h2>
    <p>人工知能がえがいたねこが、ほんもののねこのなかにかくれています。よかったらさがしてみてください。</p>
    <div class="parent-container">
    <a href="/images/realcat1.jpg"/><img src="images/c1.png"></a>
    <a href="/images/realcat2.jpg"/><img src="images/c2.png"></a>
    <a href="/images/realcat3.jpg"/><img src="images/c3.png"></a>
    <a href="/images/realcat4.jpg"/><img src="images/c4.png"></a>
    <a href="/images/realcat5.jpg"/><img src="images/c5.png"></a>
<a href="/images/realcat6.jpg"/><img src="images/c6.png"></a>
<a href="/images/realcat7.jpg"/><img src="images/c7.png"></a>
<a href="/images/realcat8.jpg"/><img src="images/c8.png"></a>
<a href="/images/realcat9.jpg"/><img src="images/c9.png"></a>
<a href="/images/realcat10.jpg"/><img src="images/c10.png"></a>
<a href="/images/realcat11.jpg"/><img src="images/c11.png"></a>
<a href="/images/realcat12.jpg"/><img src="images/c12.png"></a>
<a href="/images/realcat13.jpg"/><img src="images/c13.png"></a>
<a href="/images/realcat14.jpg"/><img src="images/c14.png"></a>
<a href="/images/realcat15.jpg"/><img src="images/c15.png"></a>
<a href="/images/realcat16.jpg"/><img src="images/c16.png"></a>
<a href="/images/realcat17.jpg"/><img src="images/c17.png"></a>
<a href="/images/realcat18.jpg"/><img src="images/c18.png"></a>
<a href="/images/realcat19.jpg"/><img src="images/c19.png"></a>
<a href="/images/realcat20.jpg"/><img src="images/c20.png"></a>
<a href="/images/realcat21.jpg"/><img src="images/c21.png"></a>
<a href="/images/realcat22.jpg"/><img src="images/c22.png"></a>
<a href="/images/realcat23.jpg"/><img src="images/c23.png"></a>
<a href="/images/realcat24.jpg"/><img src="images/c24.png"></a>
<a href="/images/realcat25.jpg"/><img src="images/c25.png"></a>
<a href="/images/realcat26.jpg"/><img src="images/c26.png"></a>
<a href="/images/realcat27.jpg"/><img src="images/c27.png"></a>
<a href="/images/realcat28.jpg"/><img src="images/c28.png"></a>
<a href="/images/realcat29.jpg"/><img src="images/c29.png"></a>
<a href="/images/realcat30.jpg"/><img src="images/c30.png"></a>
<a href="/images/realcat31.jpg"/><img src="images/c31.png"></a>
<a href="/images/realcat32.jpg"/><img src="images/c32.png"></a>
<a href="/images/realcat33.jpg"/><img src="images/c33.png"></a>
<a href="/images/realcat34.jpg"/><img src="images/c34.png"></a>
<a href="/images/realcat35.jpg"/><img src="images/c35.png"></a>
<a href="/images/realcat36.jpg"/><img src="images/c36.png"></a>
<a href="/images/realcat37.jpg"/><img src="images/c37.png"></a>
<a href="/images/realcat38.jpg"/><img src="images/c38.png"></a>
<a href="/images/realcat39.jpg"/><img src="images/c39.png"></a>
<a href="/images/realcat40.jpg"/><img src="images/c40.png"></a>
<a href="/images/realcat41.jpg"/><img src="images/c41.png"></a>
<a href="/images/realcat42.jpg"/><img src="images/c42.png"></a>
<a href="/images/realcat43.jpg"/><img src="images/c43.png"></a>
<a href="/images/realcat44.jpg"/><img src="images/c44.png"></a>
<a href="/images/realcat45.jpg"/><img src="images/c45.png"></a>
<a href="/images/realcat46.jpg"/><img src="images/c46.png"></a>
<a href="/images/realcat47.jpg"/><img src="images/c47.png"></a>
<a href="/images/realcat48.jpg"/><img src="images/c48.png"></a>
<a href="/images/realcat49.jpg"/><img src="images/c49.png"></a>
<a href="/images/realcat50.jpg"/><img src="images/c50.png"></a>
<a href="/images/realcat51.jpg"/><img src="images/c51.png"></a>
<a href="/images/realcat52.jpg"/><img src="images/c52.png"></a>
<a href="/images/realcat53.jpg"/><img src="images/c53.png"></a>
<a href="/images/realcat54.jpg"/><img src="images/c54.png"></a>
<a href="/images/realcat55.jpg"/><img src="images/c55.png"></a>
<a href="/images/realcat56.jpg"/><img src="images/c56.png"></a>
<a href="/images/realcat57.jpg"/><img src="images/c57.png"></a>
<a href="/images/realcat58.jpg"/><img src="images/c58.png"></a>
<a href="/images/realcat59.jpg"/><img src="images/c59.png"></a>
<a href="/images/realcat60.jpg"/><img src="images/c60.png"></a>
<a href="/images/realcat61.jpg"/><img src="images/c61.png"></a>
<a href="/images/realcat6263.jpg"/><img src="images/c62.png"></a>
<a href="/images/realcat6263.jpg"/><img src="images/c63.png"></a>
<a href="/images/realcat64.jpg"/><img src="images/c64.png"></a>
<a href="/images/realcat65.jpg"/><img src="images/c65.png"></a>
<a href="/images/realcat66.jpg"/><img src="images/c66.png"></a>
<a href="/images/realcat67.jpg"/><img src="images/c67.png"></a>
<a href="/images/realcat68.jpg"/><img src="images/c68.png"></a>
<a href="/images/realcat69.jpg"/><img src="images/c69.png"></a>
<a href="/images/realcat70.jpg"/><img src="images/c70.png"></a>
<a href="/images/realcat71.jpg"/><img src="images/c71.png"></a>
<a href="/images/realcat72.jpg"/><img src="images/c72.png"></a>
<a href="/images/realcat73.jpg"/><img src="images/c73.png"></a>
<a href="/images/realcat74.jpg"/><img src="images/c74.png"></a>
<a href="/images/realcat75.jpg"/><img src="images/c75.png"></a>
<a href="/images/DCcat.gif"/><img src="images/DCCAT.png"></a>
<a href="/images/realcat77.jpg"/><img src="images/c77.png"></a>
<a href="/images/realcat78.jpg"/><img src="images/c78.png"></a>
<a href="/images/realcat79.jpg"/><img src="images/c79.png"></a>
<a href="/images/realcat80.jpg"/><img src="images/c80.png"></a>
<a href="/images/realcat81.jpg"/><img src="images/c81.png"></a>
<a href="/images/realcat82.jpg"/><img src="images/c82.png"></a>
<a href="/images/realcat83.jpg"/><img src="images/c83.png"></a>
<a href="/images/realcat84.jpg"/><img src="images/c84.png"></a>
<a href="/images/realcat85.jpg"/><img src="images/c85.png"></a>
<a href="/images/realcat86.jpg"/><img src="images/c86.png"></a>
<a href="/images/realcat87.jpg"/><img src="images/c87.png"></a>
<a href="/images/realcat88.jpg"/><img src="images/c88.png"></a>
<a href="/images/realcat88.jpg"/><img src="images/c89.png"></a>
<a href="/images/realcat90.jpg"/><img src="images/c90.png"></a>
<a href="/images/realcat91.jpg"/><img src="images/c91.png"></a>
<a href="/images/realcat92.jpg"/><img src="images/c92.png"></a>
<a href="/images/realcat93.jpg"/><img src="images/c93.png"></a>
<a href="/images/realcat94.jpg"/><img src="images/c94.png"></a>
<a href="/images/realcat95.jpg"/><img src="images/c95.png"></a>
</div>

    <p>
    <div>
    <br>
    <br>
    <img src="/images/daisuke.png" width="218" height="218" ></div>
作者は超イケ面です。

    <p>
<a href="https://twitter.com/messages/compose?recipient_id=&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-screen-name="JapaneseOtaku_w" data-show-count="false">Message @JapaneseOtaku_w</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="【ページのURL】" data-text="Whatta Super Cool Web Page!" data-via="FunnyDaisuke" data-size="【ボタンのサイズ】" data-related="【ユーザ名】" data-count="【カウント表示の種類】" data-hashtags="【ハッシュタグ】">Tweet</a>
    </p>
<p>
<div><a href="http://www.jdla.org/"/><img src="images/general.png" width="218"></a></div>
</p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <p>

    <script type='text/javascript' src='/javascripts/anime.min.js'/></script>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js'/></script>
    <script type='text/javascript' src='javascripts/slick.min.js'/></script>
    <script type='text/javascript' src='/javascripts/jquery.magnific-popup.js'/></script>
    <script type='text/javascript'/>
$('.fade').slick({
slidesToShow: 3,
slidesToScroll: 1,
autoplay: true,
autoplaySpeed: 2000,
});
    </script>

    <script type='text/javascript'/>
anime({
targets: '.sample01',
translateX: 1000
});
   </script>


    <script type='text/javascript'/>

    </script>

<script>
$(function(){
$('.popup-iframe').magnificPopup({
type: 'iframe',
mainClass: 'mfp-fade',
removalDelay: 200,
preloader: false
});
});
</script>
　　<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.js"></script>
    <script text=''javascript src="/javascripts/jquery.js"></script>
   </body>
</html>
