<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=1200, minimum-scale=0.1">
    <title><%= 'コラム' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body class="scroll">
    <h1><%= '人工知能が趣味な理由' %></h1>
<p class="text">   趣味はディープラーニングです。
<br>  人工知能をそだてています。
<br>  さいきんは、顔を生成する人工知能をそだてました。
<br>
<br>  日本ディープラーニング協会の「ディープラーニング
<br>ジェネラル２０１７」の資格ももってます。
<br>
</p>
<div  class="center"><img src="/images/colum1.jpg"></div>
<p class="text mobiletext">
<br>ぼくがディープラーニングアツいな、
<br>とおもっている理由のひとつに、
<br>「ディープラーニングは、一回性のできごとにわりと
<br>つよい」ということがあります。
<br>
<br>いままでのコンピューターは、再現可能なできごと
<br>にはつよかったんですけども、
<br>一回性のできごとにはすこしよわかったと思います。
<br>
<br> 「再現可能なできごと」というのは、たとえば、
<br>ペットボトルをある高さからおとすと、おなじ
<br>おちかたをします。条件をおなじにしてやれば、
<br>何回やってもおなじおちかたです。これまでの
<br>コンピューターは、こういったなんども起こる
<br>ものごとにたいして、おなじ処理をすることは
<br>たいへん得意です。
<br>
<br> ですが、再現不可能な、一回しかおこらない
<br>できごとは、「例外」もしくは「エラー」として
<br>処理されます。しかも、きちんと反復性の
<br>プログラムを動かすためには、一回性のできごと
<br>にたいして「これはエラーです」と人間がおしえて
<br>やる必要があります。さもなければ、
<br>プログラムじたいがこわれてしまいます。
<br>
<br> ディープラーニングは、一回性のできごとに
<br>わりとつよいです。
<br>より正確にいうと、一回性のできごとと、
<br>”それに似た”できごとを処理することが得意です。
<br> ディープは、「反復と例外の中間」が得意だと、
<br>ぼくは思います。
<br>
</p>
<div  class="center"><img src="/images/colum2.jpg"></div>
<p class="text mobiletext">
<br>ディープは、一回性のできごとの「特徴」
<br>をつかむことが上手です。
<br> たとえば、おなじ人間はいませんし、
<br>人間の行動は細かいところはばらばらです。
<br>ぼくの身振りと、誰々さんの身振りは、似ている
<br>ところもあるけれど、ちがうところもおおいです。
<br>そして、身振りの特徴は、言語化できることもある
<br>けれど、「なんとなく」の言語化できない特徴も
<br>あります。ディープラーニングは、そういった
<br>「なんとなく似ている」とか、「なんとなくこうだ」
<br>という特徴をつかんで、再現したり、それに
<br>あわせて適切な処理をすることができるのです。
<br>
<br> で、人間の子どもの行動、というのは、まさに
<br>一回性のできごとに富んでいる
<br>とぼくは思っています。
<br>
<br> たとえば、子どもがいわゆる問題行動やパニック
<br>をおこしたとき、その原因を大人がかんがえても、
<br>なかなか「これが原因だ」というのがわからない
<br>ことがあります。人間は、おちるペットボトルや
<br>ロボットとちがって、おなじ条件をそろえれば
<br>だれでもおなじ結果をだす、とか、ボタンをおせば
<br>毎回うまくいく、というわけにはいきません。
<br> 発達障害支援をふくむ対人関係サービスの難しさ
<br>はここにあるとぼくは思っています。
<br>ノウハウの蓄積が、かんたんにはいかない。
<br>つまり、この子でうまくいった方法を他の子に
<br>あてはめても、うまくいくとはかぎらないわけです。
<br>「こうきたらこうだ」と機械的に処理することが
<br>むずかしい。むしろ、安易なあてはめはデメリット
<br>があることさえあります。
<br> こういった現場で、職員ひとりひとりの方法論が
<br>ぶつかってしまうのも、そこに原因があるのでは
<br>ないかとぼくは思っています。
</p>
<div  class="center"><img src="/images/colum3.jpg"></div>
<p class="text mobiletext">
<br> もちろん、一方で、「なかなかかんたんにはひと
<br>くくりにできないけど、ここまでは最低限
<br>言えるよね」といったとても控えめな共通認識を
<br>もつことは可能です。また「あの時のあのこと、
<br>今この時のこの子は、なんとなく似ているな。
<br>もしかしたら、こうすればうまくいくかも
<br>しれない」という感覚は、だれしも持っている
<br>のではないかとぼくは思っています。
<br>
<br> ようやく本筋にもどりますが、
<br>ディープラーニングは、そういった
<br>「うまく言えないけれど、なんとなく特徴が
<br>ある」といった人間が伝達しにくい特徴をつかむ
<br>という必殺技があります。そのうえで、
<br>コンピューターの高速処理もあわせもっています。
<br>
<br> そこに、進歩がある、
<br>とぼくは推測しているのです。
<br>
<br>たとえば、自閉症の子どもがパニックを
<br>おこしたときの周囲の状況と、子どもの脈拍や
<br>血圧の状態を対応づけて学習すれば、そこにある
<br>特徴をつかむことが可能だと思っています。
<br>そしてさらにたとえば、周囲の状況が情報過多
<br>であれば、パニックをおこしやすい
<br>視覚聴覚情報を自動的にカッティングして、
<br>子どもにとどけることもできるかもしれません。
<br>
<br> ちょっと余談ですが、再現可能な反復
<br>（たとえば小学校でいえば、計算ドリルや
<br>集団の統率された行動）が得意な子もいて、
<br>そういう子は優等生とされるわけですが、
<br>そういったことが苦手な子もいます。
<br>標準的な行動が苦手な子の行動は、「例外」
<br>「エラー」として、処理されてしまうことも
<br>あるのではないでしょうか。ただそれは、
<br>対応する側が、再現可能なできごとにしか
<br>対応できないことの裏返しでもあるわけです。
<br>
</p>
<div  class="center"><img src="/images/colum4.png"></div>
<p class="text mobiletext">
<br> 「なんとなーく」ですが、こういった支援
<br>にも役立つ要素技術がそこにはあると
<br>思っていて、ぼくは趣味ながら、
<br>いろいろためしているところです。
<br>
<br> はい、ご静聴ありがとうございました。
</p>
</body>
</html>
