<!DOCTYPE html>
<html>
  <head>
    <title><%= 'コラム' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body class="scroll">
<font size="7">
    <h1><%= '人工知能が趣味な理由' %></h1>
<p class="text">   趣味はディープラーニングです。
<br>  人工知能をそだてています。
<br>  さいきんは、顔を生成する人工知能をそだてました。
<br>
<br>  日本ディープラーニング協会の「ディープラーニング・ジェネラル２０１７」の資格ももってます。
<br>
</p>
<div  class="center"><img src="/images/colum1.jpg"></div>
<p class="text">
<br>  ぼくがディープラーニングアツいな、とおもっている理由のひとつに、
<br>  「ディープラーニングは、一回性のできごとにわりとつよい」ということがあります。
<br>
<br>  いままでのコンピューターは、再現可能なできごとにはつよかったんですけども、一回性のできごとにはすこしよわかったと思います。
<br>
<br> 「再現可能なできごと」というのは、たとえば、ペットボトルをある高さからおとすと、おなじおちかたをします。条件をおなじにしてやれば、何回やってもおなじおちかたです。これまでのコンピューターは、こういったなんども起こるものごとにたいして、おなじ処理をすることはたいへん得意です。
<br>
<br> ですが、再現不可能な、一回しかおこらないできごとは、「例外」もしくは「エラー」として処理されます。しかも、きちんと反復性のプログラムを動かすためには、一回性のできごとにたいして「これはエラーです」と人間がおしえてやる必要があります。さもなければ、プログラムじたいがこわれてしまいます。
<br>
<br> ディープラーニングは、一回性のできごとにわりとつよいです。
<br> より正確にいうと、一回性のできごとと、”それに似た”できごとを処理することが得意です。
<br> ディープは、「反復と例外の中間」が得意だと、ぼくは思います。
<br>
</p>
<div  class="center"><img src="/images/colum2.jpg"></div>
<p class="text">
<br> ディープは、一回性のできごとの「特徴」をつかむことが上手です。
<br> たとえば、おなじ人間はいませんし、人間の行動は細かいところはばらばらです。ぼくの身振りと、誰々さんの身振りは、似ているところもあるけれど、ちがうところもおおいです。そして、身振りの特徴は、言語化できることもあるけれど、「なんとなく」の言語化できない特徴もあります。ディープラーニングは、そういった「なんとなく似ている」とか、「なんとなくこうだ」という特徴をつかんで、再現したり、それにあわせて適切な処理をすることができるのです。
<br>
<br> で、人間の子どもの行動、というのは、まさに一回性のできごとに富んでいるとぼくは思っています。
<br>
<br> たとえば、子どもがいわゆる問題行動やパニックをおこしたとき、その原因を大人がかんがえても、なかなか「これが原因だ」というのがわからないことがあります。人間は、おちるペットボトルやロボットとちがって、おなじ条件をそろえればだれでもおなじ結果をだす、とか、ボタンをおせば毎回うまくいく、というわけにはいきません。
<br> 発達障害支援をふくむ対人関係サービスの難しさはここにあるとぼくは思っています。ノウハウの蓄積が、かんたんにはいかない。つまり、この子でうまくいった方法を他の子にあてはめても、うまくいくとはかぎらないわけです。「こうきたらこうだ」と機械的に処理することがむずかしい。むしろ、安易なあてはめはデメリットがあることさえあります。
<br> こういった現場で、職員ひとりひとりの方法論がぶつかってしまうのも、そこに原因があるのではないかとぼくは思っています。
</p>
<div  class="center"><img src="/images/colum3.jpg"></div>
<p class="text">
<br> もちろん、一方で、「なかなかかんたんにはひとくくりにできないけど、ここまでは最低限言えるよね」といったとても控えめな共通認識をもつことは可能です。また「あの時のあのこと、今この時のこの子は、なんとなく似ているな。もしかしたら、こうすればうまくいくかもしれない」という感覚は、だれしも持っているのではないかとぼくは思っています。
<br>
<br> ようやく本筋にもどりますが、ディープラーニングは、そういった「うまく言えないけれど、なんとなく特徴がある」といった人間が伝達しにくい特徴をつかむ、という必殺技があります。そのうえで、コンピューターの高速処理もあわせもっています。
<br>
<br> そこに、進歩がある、とぼくは推測しているのです。
<br>
<br> たとえば、自閉症の子どもがパニックをおこしたときの周囲の状況と、子どもの脈拍や血圧の状態を対応づけて学習すれば、そこにある特徴をつかむことが可能だと思っています。そしてさらにたとえば、周囲の状況が情報過多であれば、パニックをおこしやすい視覚聴覚情報を自動的にカッティングして、子どもにとどけることもできるかもしれません。
<br>
<br> ちょっと余談ですが、再現可能な反復（たとえば小学校でいえば、計算ドリルや集団の統率された行動）が得意な子もいて、そういう子は優等生とされるわけですが、そういったことが苦手な子もいます。標準的な行動が苦手な子の行動は、「例外」「エラー」として、処理されてしまうこともあるのではないでしょうか。ただそれは、対応する側が、再現可能なできごとにしか対応できないことの裏返しでもあるわけです。
<br>
</p>
<div  class="center"><img src="/images/colum4.png"></div>
<p class="text">
<br> 「なんとなーく」ですが、こういった支援にも役立つ要素技術がそこにはあると思っていて、ぼくは趣味ながら、いろいろためしているところです。
<br>
<br> はい、ご静聴ありがとうございました。
</p>
</body>
</html>
