<!DOCTYPE html>
<html>
<head>
<title><%= 'cutecat' %></title>
<link rel='stylesheet' href='/stylesheets/stylemobile.css' />
<link rel='stylesheet' type="text/css" href='/stylesheets/slick.css'/>
<link rel='stylesheet' type="text/css" href='/stylesheets/slick-theme.css'/>
<link rel='stylesheet' type="text/css" href='/stylesheets/sample01.css'/>
<link rel='stylesheet' type="text/css" href='/stylesheets/magnific-popup.css'/>
</head>
<body class="scroll">
<h1 align="center"><%= 'CuteCat.com' %>
</h1>
<p>
 <%= 'DAISUKE MAJIMA' %> はiOSデヴェロッペーパーです
</p>
<div>
<img style="width:100%;" src="/images/penguin.png">
</div>
<p>Support and Contact : samuraibrothersmail@gmail.com
</p>
<h2> App　</h2>
<p>
<div><a href="https://tranquil-oasis-79483.herokuapp.com/mobile"/>aiCap</a></div>
<div><a href="https://tranquil-oasis-79483.herokuapp.com/colum"/>aiLike</a></div>
<div><a href="https://tranquil-oasis-79483.herokuapp.com/colummobile"/>arBack</a></div>
<div><a href="https://tranquil-oasis-79483.herokuapp.com/english"/>piWeb</a></div>
</p>

<p>
<a href="https://twitter.com/messages/compose?recipient_id=&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-screen-name="JapaneseOtaku_w" data-show-count="false">Message @JapaneseOtaku_w</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="【ページのURL】" data-text="Whatta Super Cool Web Page!" data-via="FunnyDaisuke" data-size="【ボタンのサイズ】" data-related="【ユーザ名】" data-count="【カウント表示の種類】" data-hashtags="【ハッシュタグ】">Tweet</a>
</p>
<p>
<div><a href="http://www.jdla.org/"/><img src="images/general.png" width="218"></a></div>
</p>

<h1><%= 'プライバシーポリシー' %></h1>
<p> 「aiCap」提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション
<br>（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2>取得する個人情報の種類
</h2>
<p>１、アプリケーション内で利用するために利用者が選択、もしくはカメラで撮影した画像。
<br>および、上記画像から数値として計算、抽出した顔データ。
<br>２、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</p>
<h2>個人情報の利用方法
 </h2>
<p>１、画像データはアプリケーションのコンテンツ表示のための端末内での加工、画像ピクセル計算処理のために使用します。
<br>２、画像処理は利用者の端末内で行われ、ユーザーが他のアプリでシェアする場合を除き、ネットワーク通信による画像のアップロードは行いません。
<br>３、顔データは、元の画像につけるキャプションを選択するためにのみアプリ内で一時的に保持、使用され、使用後はアプリから消去されます。
<br>顔データのアプリ内での恒久的な保存、ネットワーク通信によるアップロード、第三者への提供は行われません。
<br>４、ソフトウェアアップデートの通知をする場合があります。
<br>５、広告の表示のためcookieデータ等を使用する場合があります。
<br>６、法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
<br>７、アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
</p>
<h2>第三者への開示について</h2>
<p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。
<br>但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
<br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
<br>(２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、
<br>提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
<br>（３）その他法令で認められる場合
</p>
<h2>個人情報の開示
</h2>
<p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2>利用者関与の方法
</h2>
<p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
<br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。
<br>変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、
<br>通知された時点から効力を生じるものとします。
</p>
<h2>お問い合わせ
</h2>
<p>mail:samuraibrothersmail@gmail.com\nwebsite:https://tranquil-oasis-79483.herokuapp.com
<br>
<br>2019年11月1日施行
</p>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <p>

    <script type='text/javascript' src='/javascripts/anime.min.js'/></script>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js'/></script>
    <script type='text/javascript' src='javascripts/slick.min.js'/></script>
    <script type='text/javascript' src='/javascripts/jquery.magnific-popup.js'/></script>
    <script type='text/javascript'/>
$('.fade').slick({
slidesToShow: 3,
slidesToScroll: 1,
autoplay: true,
autoplaySpeed: 2000,
});
    </script>

    <script type='text/javascript'/>
anime({
targets: '.sample01',
translateX: 1000
});
   </script>


    <script type='text/javascript'/>

    </script>

<script>
$(function(){
$('.popup-iframe').magnificPopup({
type: 'iframe',
mainClass: 'mfp-fade',
removalDelay: 200,
preloader: false
});
});
</script>
　　<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.js"></script>
    <script text=''javascript src="/javascripts/jquery.js"></script>

   </body>
</html>
