<!DOCTYPE html>
<html>
<head>
<title><%= 'PEANUTS' %></title>
<link rel='stylesheet' href='/stylesheets/stylemobile.css' />
<link rel='stylesheet' type="text/css" href='/stylesheets/slick.css'/>
<link rel='stylesheet' type="text/css" href='/stylesheets/slick-theme.css'/>
<link rel='stylesheet' type="text/css" href='/stylesheets/sample01.css'/>
<link rel='stylesheet' type="text/css" href='/stylesheets/magnific-popup.css'/>
</head>
<body class="scroll">
<h1><%= 'privacy policy' %></h1>
<p> Daisuke Majima, the provider of the application “PEANUTS”
<br>defines the privacy policy for privacy infomation in the application　as follows.
<br>
</p>
<h2> Personal information
</h2>
<p>Personal information is data that can be used to identify or contact an individual person.
<br>
</p>
<h2>Types of personal information to be acquired
 </h2>
<p>Images selected or taken by camera by the user for use within the application.
<br>Notification way through application platform.
<br>Cookie data and web beacons may be used to display advertisements.
</p>
<h2>How to use personal information
</h2>
<p>The image data is used for processing and pixel calculation in the user's device for displaying contents.
<br>Image processing is performed within the user's device, Images are not uploaded via network communication.
<br>Notification of software updates via platform.
<br>Cookie data may be used to display advertisements.
<br>Based on laws and regulations, or on the case provider deems it necessary to pursue legitimate interests of a third party ,
<br>personal information may be processed. 
</p>
<h2＞Acquisition of non-personal information
</h2>
<p>Statistical data such as analytics may be obtained　through the application delivery platform。
<br>
</p>
<h2>Disclosure to third parties
</h2>
<p>Application providers may provide personal information to third parties to provide and improve services.
</p>
<h2>Disclosure of personal information
</h2>
<p>If personal information is requested to be disclosed, it will be disclosed to the person himself, except for data that is processed in the application terminal
</p>
<h2>User involvement
</h2>
<p>If you want to stop the user information be used by the application, please uninstall the application.
</p>
<p>
The contents of this privacy policy can be changed without notifying the user.
The revised privacy policy will take effect when it is posted on this website.
</p>
<h2>Contact
</h2>
<p>mail：samuraibrothersmail@gmail.com
</p>
<br><br>
<h1><%= 'プライバシーポリシー' %></h1>
<p> 当該アプリケーション「PEANUTS」の提供者Daisuke Majimaは、提供するアプリケーション
<br>におけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2> 個人情報の取得、利用について
</h2>
<p>個人情報とは、個人を特定、または個人に連絡するために利用できるデータのことです。
<br>
</p>
<h2>取得する個人情報の種類
 </h2>
<p>アプリケーション内で利用するために利用者が選択、もしくはカメラで撮影した画像。
<br>アプリケーション提供プラットフォームを通した通知方法。
<br>広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</p>
<h2>個人情報の利用方法
</h2>
<p>画像データはアプリケーションのコンテンツ表示のための端末内での加工、画像ピクセル計算処理のために使用します。
<br>画像処理は利用者の端末内で行われ、ネットワーク通信による画像のアップロードは行いません。
<br>ソフトウェアアップデートの通知をする場合があります。
<br>広告の表示のためcookieデータ等を使用する場合があります。
<br>法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
</p>
<h2＞非個人情報の取得について
</h2>
<p>アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
<br>
</p>
<h2>第三者への開示について
</h2>
<p>アプリケーション提供者は、サービスの提供、向上のために第三者に個人情報を提供することがあります。
</p>
<h2>個人情報の開示
</h2>
<p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2>利用者関与の方法
</h2>
<p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
</p>
<p>
当プライバシーポリシーの内容は、利用者に通知することなく、変更できるものとします。
変更後のプライバシーポリシーは、本ウェブサイトに掲載した時から効力を生じるものとします。
</p>
<h2>お問い合わせ
</h2>
<p>メールアドレス：samuraibrothersmail@gmail.com
</p>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <p>

    <script type='text/javascript' src='/javascripts/anime.min.js'/></script>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js'/></script>
    <script type='text/javascript' src='javascripts/slick.min.js'/></script>
    <script type='text/javascript' src='/javascripts/jquery.magnific-popup.js'/></script>
    <script type='text/javascript'/>
$('.fade').slick({
slidesToShow: 3,
slidesToScroll: 1,
autoplay: true,
autoplaySpeed: 2000,
});
    </script>

    <script type='text/javascript'/>
anime({
targets: '.sample01',
translateX: 1000
});
   </script>


    <script type='text/javascript'/>

    </script>

<script>
$(function(){
$('.popup-iframe').magnificPopup({
type: 'iframe',
mainClass: 'mfp-fade',
removalDelay: 200,
preloader: false
});
});
</script>
　　<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.js"></script>
    <script text=''javascript src="/javascripts/jquery.js"></script>

   </body>
</html>
